
<footer class="footer bg-dark text-light mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Connect With Us</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <address>1 Dai Co Viet Street, Hai Ba Trung, Ha Noi, VN<br>
          <i class="fas fa-envelope"></i> Email: nguyen.ds20200445@sis.hust.edu.vn<br>
          <i class="fas fa-phone"></i> Phone: (+84) 09**394
        </address>
      </div>
    </div>
  </div>
    <div class="text-center py-0">
    <p class="mb-0">© 2023 Your Website. All rights reserved.</p>
  </div>
</footer>
</body>

</html>