
<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <label>Menu</label>
            <ul>
                <li>
                    <a href="/exam">Làm bài tập</a>
                </li>
                <li>
                    <a href="">Bài học tiếp theo</a>
                </li>
                <li>
                    <a href="">Quay lại khóa học</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <h2>{{lesson.name}}</h2>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{lesson.videoID}}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <p>Mô tả: {{lesson.description}}</p>
        </div>
    </div>
</div>